.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;

}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.bottom-aligner {
  display: inline-block;
  vertical-align: bottom;

}

img.busy: {
  border: 3px dashed red;
}

img.busy:hover {
  border: 3px dashed red;
}
img.active {
  border: 3px solid white;
}

img.active:hover {
    border: 3px solid green;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height: 202px; /*height of the spinner gif +2px to fix IE8 issue */
}

#sliderHandle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}